@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style */
.display-flex {
  display: flex;
}
.dark-01 {
  color: #131313;
}
.dark-02 {
  color: #424242;
}
.dark-03 {
  color: #727272;
}
.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary {
  background-color: #ff900e;
  font-size: 1.25rem;
  color: white;
  padding: 20px 25px;
  border-radius: 8px;
  border: none;
}

main {
  max-width: 1440px;
  margin: 0 auto;
}

main > section {
  margin-top: 130px;
}

/* header styel */

/*  */
.navbar {
  justify-content: space-between;
  align-items: center;
}

.brand-name {
  font-weight: 700;
  font-size: 3rem;
}
.navbar,
.banner {
  max-width: 1440px;
  margin: 0px auto;
}
.nav-item {
  list-style: none;
  margin-right: 30px;
}

.nav-link {
  text-decoration: none;
}
/* banner related styles */
.banner-title {
  font-weight: 700;
  font-size: 4rem;
}
.banner-content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-image {
  max-width: 100%;
}

/* team-relateds-styles */
.teams {
  align-items: center;
}

.team-image {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.team-features {
  max-width: 540px;
  margin-left: 120px;
}
.section-title {
  font-weight: 700;
  font-size: 2.8rem;
}
#quick-list {
  font-weight: 700;
}

#our-featurs {
  color: #ff900e;
}

/* features related styles */

.features {
  gap: 140px;
}
#feature-section-title {
  border-left: 5px solid #ff900e;
  padding-left: 21px;
}
.feature-card {
  padding: 30px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
  border-radius: 8px;
}
.feature-card .feature-title {
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 0px;
}

.featured-architect img {
  width: 100%;
}
#experience-badge {
  padding: 45px 42px;
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: -100px;
  margin-top: -100px;
}

#experience-years {
  font-weight: 700;
  font-size: 4rem;
}
/* some-facts style */
.facts-description {
  max-width: 540px;
}
.facts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}
.fact-card {
  border: 1px solid #ff900e;
  height: 240px;
  width: 240px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.fact-number {
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}

/* sponsor styles */
.sponsor-comapnies {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.sponsor-info {
  max-width: 540px;
  margin: 50px auto;
  text-align: center;
}

.sponsor-comapnies img {
  filter: grayscale(100%);
}

/* footer styles */

.footer-description {
  margin: 50px auto;
  text-align: center;
  max-width: 1440px;
}
/* responsive styles */
/* small device */
@media screen and (max-width: 576px) {
  .navbar,
  .nav-link,
  .teams {
    flex-direction: column;
  }
  .team-image,
  .facts-container,
  .sponsor-comapnies {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .features {
    flex-direction: column;
  }
  .team-features {
    margin-left: 20px;
  }

  .facts-container,
  .sponsor-comapnies {
    justify-items: center;
  }

  .sponsor-comapnies {
    justify-items: center;
    gap: 50px;
  }

  #experience-badge {
    margin-top: 20px;
    margin-left: 20px;
  }

  .featured-architect img {
    width: 100%;
  }
}

/* medium device */

@media screen and (min-width: 576px) and (max-width: 992px) {
  .team-features {
    margin-left: 50px auto;
  }

  .sponsor-comapnies {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    justify-items: center;
  }

  .facts-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    justify-items: center;
  }
}
